:root {
    --background: #444;
    --fontcolor: #9d9d9d;
    --iconcolor: #888;
    --hovercolor: #666;
}

.navbar{
    min-height:unset;
}
    .navbar ul a{
        font-size: 12px;
    }
    .navbar .glyphicon{
        margin-right:10px;
        margin-left:-10px;
        color:#666;
    }
.navbar-brand {
    height: 25px;
    line-height: 25px;
    padding: 0 10px 0 0;
    font-size:16px;
    font-weight:600;
}
.nav > li,
.navbar-brand {
    border-right: 1px solid #4e4e4e;
}
.nav > li.noborder{
    border:none;
}
.navbar-nav > li > a {
    line-height: 5px;
    padding: 10px;
}
.navbar-nav li a {
    color: #9d9d9d;
}
.dropdown-menu, .dropdown-submenu .dropdown-menu {
    border-radius: 0 !important;
}
.dropdown-menu {
    top: 24px;
}
.navbar-inverse{
    border:none;
}
.navbar-nav li .dropdown-menu, .navbar-inverse {
    background-color: #2f2f2f;
}
.dropdown-menu .divider {
    background-color: #9d9d9d;
}
.dropdown-menu .divider{
    margin:4px 0;
}

.caret{
    margin-left:8px;
    margin-right:-1px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-nav ul li:hover,
ul.nav a:hover {
    background: #494949 !important;
}

@media (max-width: 767px) {
    .navbar-brand {
        border: none;
        padding: 13px;
        padding-left: 20px;
    }
    .navbar-nav > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* **************** */

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
