<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header" style="padding-left:8px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><!--<span class="glyphicon glyphicon-stats"></span>-->ShyMoney</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right" style="padding-right:15px;">
            <li class="noborder"><a href="#" target="_blank">Logout</a></li>
            <!--<li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>-->
        </ul>
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit<b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                    <li><a routerLink="/Home"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li><a routerLink="/EditSums"><span class="glyphicon glyphicon-usd"></span>Sums</a></li>                    
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Calculations<b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                    <li><a routerLink="/MonthlyResults"><span class="glyphicon glyphicon-align-justify"></span>Monthly results</a></li>
                    <li><a routerLink="/TagTotalResult"><span class="glyphicon glyphicon-tag"></span>Tag total results</a></li>
                </ul>
            </li>
            <!--<li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Views<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-usd"></span>Sums</a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-signal"></span>Income & expence & flow</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tag"></span>Tags</a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-align-left"></span>Total in time period</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-signal"></span>Compare in time</a></li>                                
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sample menu</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>-->
        </ul>
    </div><!--/.nav-collapse -->
</div>