<div class="header2 padd10">
    <div class="calc-mw-200 ib vertical-top">
        <date-range-picker [(pickDateFrom)]="pickDateFromValue" [(pickDateTo)]="pickDateToValue"></date-range-picker>
    </div><div class="w-200 ib vertical-top">
        <p-button label="OK" (click)="loadSums()"></p-button>
    </div>
</div>

<!--<div class="header2-padd">
    <div class="days mt10">
        <div class="day" *ngFor="let day of sumsOnDayWrap.Data">
            <div class="header">
		        <div class="btns ib">
                    <div class="sh-btn green" (click)="add(day)"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
                <span class="stitle">{{formatDate(day.Date)}}</span>
            </div>
            <div class="records">
                <div class="record" *ngFor="let sum of day.Data, let i = index">
                    <ul class="record-fields">
                        <li class="field"><div class="sh-btn green" (click)="save(sum)"><span class="glyphicon glyphicon-ok"></span></div></li>
                        <li class="field" *ngIf="sum.Id > 0"><div class="sh-btn blue" (dblclick)="reset(day, i, sum.Id)"><span class="glyphicon glyphicon-repeat"></span></div></li>
                        <li class="field"><div class="sh-btn red" (dblclick)="delete(day, i, sum.Id)"><span class="glyphicon glyphicon-trash"></span></div></li>
                        <li class="field"><p-autoComplete [(ngModel)]="sum.IntellisenseTitle" [suggestions]="intellisenseResults" (completeMethod)="searchIntellisense($event, sum)" field="SumTitle" (onSelect)="setSumOnIntellisense($event, sum)"></p-autoComplete></li>
                        <li class="field"><input type="text" placeholder="Title..." [(ngModel)]="sum.Title" /></li>
                        <li class="field"><input type="text" placeholder="Sum..." [(ngModel)]="sum.Sum" /></li>
                        <li class="field"><input type="text" placeholder="Input date..." [(ngModel)]="sum.InputDate" /></li>
                        <li class="field">
                            <p-multiSelect [options]="tags" [(ngModel)]="sum.Tags" [panelStyle]="{minWidth:'12em'}" optionLabel="Title"></p-multiSelect>
                        </li>
                        <li class="field pt5">
                            <span *ngFor="let tag of sum.Tags" class="grayish">({{tag.Title}}) </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="header2-padd" (window:keydown)="tableSheet.OnKeyDown($event)" (window:keyup)="tableSheet.OnKeyUp($event)">
    <div class="days mt10">        
        <div class="day" *ngFor="let row of tableSheet.input; index as i"> <!-- rows -->
            <div class="header">
                <div class="ib"
                    *ngFor="let field1 of structure.levels[0].fields"
                    [ngClass]="{'selected': tableSheet.selectedField == field1 && tableSheet.selectedDate == i && tableSheet.selectedSum == null}"> <!-- cols -->
                    <div [ngSwitch]="field1.type">
                        <div class="btns ib" *ngSwitchCase="'button'">
                            <div class="sh-btn green" (click)="field1.action(row[structure.levels[0].childArray])">
                                {{field1.title}}
                            </div>
                        </div>
                        <div class="stitle" *ngSwitchCase="'date'">
                            {{formatDate(row[field1.title])}}
                        </div>
                        <div *ngSwitchDefault>
                            {{row[field1.title]}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="records">
                <div class="record" *ngFor="let sum of row[structure.levels[0].childArray]; index as j"> <!-- rows -->
                    <div class="record-field"
                        *ngFor="let field2 of structure.levels[1].fields"
                        [ngClass]="{'selected': tableSheet.selectedField == field2 && tableSheet.selectedDate == i && tableSheet.selectedSum == j}"> <!-- cols -->
                        <div [ngSwitch]="field2.type">
                            <div *ngSwitchCase="'text'">
                                <input type="text" placeholder="Text..." 
                                       [(ngModel)]="sum[field2.title]" 
                                       [sFocus]="tableSheet.selectedField == field2 && tableSheet.selectedDate == i && tableSheet.selectedSum == j" />
                            </div>
                            <div *ngSwitchCase="'int'">
                                <input type="text" placeholder="Int..." 
                                       [(ngModel)]="sum[field2.title]" 
                                       [sFocus]="tableSheet.selectedField == field2 && tableSheet.selectedDate == i && tableSheet.selectedSum == j" />
                            </div>
                            <div *ngSwitchCase="'date'">
                                <input type="text" placeholder="Date..." 
                                       [(ngModel)]="sum[field2.title]" 
                                       [sFocus]="tableSheet.selectedField == field2 && tableSheet.selectedDate == i && tableSheet.selectedSum == j" />
                            </div>
                            <div *ngSwitchCase="'ddl'">
                                <p-multiSelect optionLabel="Title" 
                                               [options]="tags" 
                                               [(ngModel)]="sum[field2.title]" 
                                               [panelStyle]="{minWidth:'12em'}" 
                                               [sFocus]="tableSheet.selectedField == field2 && tableSheet.selectedDate == i && tableSheet.selectedSum == j"></p-multiSelect>
                            </div>
                            <div *ngSwitchCase="'intellisense'">
                                <p-autoComplete field="SumTitle" 
                                                [(ngModel)]="sum.IntellisenseTitle" 
                                                [suggestions]="intellisenseResults" 
                                                [sFocus]="tableSheet.selectedField == field2 && tableSheet.selectedDate == i && tableSheet.selectedSum == j"
                                                (completeMethod)="searchIntellisense($event, sum)" 
                                                (onSelect)="setSumOnIntellisense($event, sum)"></p-autoComplete>
                            </div>
                            <div *ngSwitchCase="'button'">
                                <div class="sh-btn green">{{field2.title}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>